<div class="center hero-unit">
  <h3>Welcome to the HTTPizza App!</h3>
  <br/>
  <p>
  	Click the button to start building your pizza.
  </p>

  <%= link_to "Build a pizza now »", orders_makeline_path, class: "btn btn-large" %>
</div>