<div class='make-line-surface'>
	
	<div class="hide alert alert-error">
    <a class="close" data-dismiss="alert">&times;</a>
    <strong>Oh snap!</strong> Change a few things up and try submitting again.
  </div>

  <div class='row-fluid'>
  	<div class='span8'>
			<canvas height='300px' width='300px'/>
		</div>
		<div id='cart' class='span4'>
			<%= render 'order_ticket' %>
		</div>
	</div>

</div>
