<div class='make-line-surface'>
	
	<div class="hide alert alert-error">
    <a class="close" data-dismiss="alert">&times;</a>
    <strong>Oh snap!</strong> Change a few things up and try submitting again.
  </div>

	<canvas height='300px' width='300px'/>
</div>
