<% provide(:title, 'Choose a Crust') %>

<h1>Choose a Crust</h1>

<div class='row-fluid'>

	<div class='span7'>
		<div class='make-line'>
			<div class='make-line-trays'>

				<div data-crust='hand-tossed' class='make-line-tray center btn btn-small btn-secondary'>
					<span>hand-tossed</span>
					<canvas height='90px' width='90px'/>
				</div>

				<div data-crust='thin' class='make-line-tray center btn btn-small btn-secondary'>
					<span>thin-crispy</span>
					<canvas height='90px' width='90px'/>
				</div>

				<div data-crust='deep-dish' class='make-line-tray center btn btn-small btn-secondary'>
					<span>deep-dish</span>
					<canvas height='90px' width='90px'/>
				</div>

				<div data-crust='whole-wheat' class='make-line-tray center btn btn-small btn-secondary'>
					<span>whole-wheat</span>
					<canvas height='90px' width='90px'/>
				</div>
			</div> <!-- /div.make-line-trays -->

			<div class='center'>
				<%= render 'make_line_surface' %>
			</div> 
		</div>
	</div>

	<div class='span5'>
		<div class='explanation'>
			Addtl. info about the page. Addtl. info about the page. Addtl. info about the page. Addtl. info about the page.
		</div>
	</div>

</div> <!-- /div.make-line -->

<div class='row pull-right'>
	<%= link_to "Add Sauce »", order_pages_sauce_path, class: 'btn btn-large btn-primary' %>
</div>

<script type='text/javascript'>
	$(document).ready(function() {
		crustPresenter( orderModel(), makeLineCanvasView() ).initialize();
	});
</script>
