<%= provide(:title, 'Build a Pizza') %>

<h1>Pizza Makeline</h1>

<div id='make-line'>
	<div id='ingredients-view'></div>

	<div id='order-area'>
		<div id='pizza-view'></div>
		<div id='order-ticket-view'></div>
	</div>
</div> <!-- /div.make-line -->

<script type='text/template' id='ingredients_template'>
	<ul id='make-line-ingredients'>
		<? _.each(ingredients, function(ingredient) { ?>
			<li class='btn btn-small' data-ingredient="<?= ingredient.get('ingredient_type') + ':' + ingredient.get('name') ?>">
				<span><?= ingredient.get("name") ?></span>
				<img src='<?= ingredient.get("icon_image") ?>'/>
			</li>
		<? }); ?>
	</ul>
	<ul id='make-line-nav' >
		<li><a id='crustLink' href='#' class='active-link'>Crusts</a></li>
		<li><a id='sauceLink' href='#'>Sauces</a></li>
		<li><a id='cheesesLink' href='#'>Cheeses</a></li>
		<li><a id='toppingsLink' href='#'>Toppings</a></li>
	</ul>
</script>

<script type='text/template' id='pizza_template'>
	<div>
		<canvas id='crust-canvas' height='300px' width='300px'></canvas>
		<canvas id='sauce-canvas' height='300px' width='300px'></canvas>
		<canvas id='cheese-canvas' height='300px' width='300px'></canvas>
		<canvas id='toppings-canvas' height='300px' width='300px'></canvas>
	</div>
	<div id='checkout-btn' class='center'>
		<button class="btn btn-mini">Checkout</button>
	</div>
</script>

<script type='text/template' id='order_ticket_template'>
	<div id='order-ticket'>
		<h1>Order Ticket</h1>

		<div id='ticket-items'>
		<? _.each(itemGroups, function(itemGroup) { ?>
			<section class='order-ticket-item-group'>
			<h1><?= itemGroup.title ?></h1>
			<ul>
			<? _.each(itemGroup.items, function(item) { ?>
				<li>
					<div class='item-name'><?= item.name ?></div>
					
					<div class='remove-link'>
						<a href='#' data-ingredient="<?= itemGroup.title + ':' + item.name ?>">
							<?= itemGroup.title === 'crust' ? 'Change&nbsp;' : 'Remove'?>
						</a>
					</div>

					<div class='item-price'>...$<?= item.price ?></div>
				</li>
			<? }); ?>
			</ul>
			</section>
		<? }); ?>
		</div>

		<div id='ticket-cost'>
			<label>Total:</label>
			$<?= total.toFixed(2) ?>
		</div>
	</div>
</script>

<script type='text/javascript'>
$(document).ready(function() {
	// Override the default ERB template style due to conflicts with Rails.
	_.templateSettings = {
	    interpolate: /\<\?\=(.+?)\?\>/g,
	    evaluate: /\<\?(.+?)\?\>/g
	};

	// Create an AppRouter and start the app.
	var app = new httpizza.AppRouter();
	Backbone.history.start();
});
</script>