// Place all the styles related to the OrderPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

/* variables */

$grayMediumLight: #eaeaea;

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h0 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 0;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: normal;
  line-height: 1;
  decoration: none;
	 &:hover {
	    color: #fff;
	    text-decoration: none;
	  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.rounded-corners {
  border-radius: 9px; 
  -moz-border-radius: 9px; 
  -webkit-border-radius: 9px; 
  border: 0px solid #800000;
}

.active-link {
  font-weight: bold;
}

#make-line {
  width: 625px;
  margin: 0px auto;
}

#ingredients-view {
  @extend .rounded-corners;
  padding: 0em 1em;
  padding-top: 1em;
  background-image: url('/assets/steel.jpg');
  background-repeat: repeat;
  margin-bottom: 0.5em;
  
  #make-line-ingredients {
    margin: 0em auto;
    white-space: nowrap;
    overflow: scroll;
    overflow-y: hidden;
    li { 
      list-style-type: none;
      display: inline-block;
      width: 75px;
      span {
        display: block;
      }
      img {
        width: 50px;
        height: 50px;
      }
    }
  }

  #make-line-nav {
    margin: 0.25em auto;
    width: 100%;
    text-align: center;
    li {
      list-style-type: none;
      display: inline;
      margin-right: 2em;
      a {
        width: 100%;
      }
    }
  }
}

#order-area {
  @extend .rounded-corners;

  width: 100%;
  display: inline-block;
  margin: 0em;
  background-image: url('/assets/tiles.jpg');
  background-repeat: repeat;

  #pizza-view {
    float: left;
    position: relative;

    canvas { 
      margin: 1em;
    }

    #crust-canvas { position: absolute; left: 0px; top: 0px; z-index: 0; }
    #sauce-canvas { position: absolute; left: 0px; top: 0px; z-index: 1; }
    #cheese-canvas { position: absolute; left: 0px; top: 0px; z-index: 2; }
    #toppings-canvas { position: relative; left: 0px; top: 0px; z-index: 3; }
  }

  #order-ticket {
    @extend .rounded-corners;

    float: right;
    width: 250px;
    padding: 0.25em;
    margin: 1em;
    background-image: url('/assets/paper.jpg');
    background-repeat: repeat;

    -moz-box-shadow: 6px 6px 5px #170000;
    -webkit-box-shadow: 6px 6px 5px #170000;
    box-shadow: 6px 6px 5px #170000;
    
    h1 { font-size: 10pt; margin: 1em;}

    #ticket-items {
      border-top: solid thin black;
      border-bottom: solid thin black;
      .order-ticket-item-group {
        h1 { font-size: 9pt; margin: 1em; text-transform:capitalize; }
        ul {
          margin: 0em;
          li {
            list-style-type: none;
            div { display: inline; }
            .remove-link { float: right; }
            .item-price { float: right; margin: 0 1em; }
          }
        }
      }
    }

    #ticket-cost {
      float: right;
      label { font-weight: bold; display: inline; }
    }
  }
}